<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="add-work">
      <ion-icon name="add-outline"></ion-icon>
      <ion-label>Görev Ekleme</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Ana Sayfa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
