
  /*====== Font-size css starts ======*/
  .f-10 {
    font-size: 10px !important;
  }
  
  .f-12 {
    font-size: 12px !important;
  }
  
  .f-14 {
    font-size: 14px !important;
  }
  
  .f-16 {
    font-size: 16px !important;
  }
  
  .f-18 {
    font-size: 18px !important;
  }
  
  .f-20 {
    font-size: 20px !important;
  }
  
  .f-22 {
    font-size: 22px !important;
  }
  
  .f-24 {
    font-size: 24px !important;
  }
  
  .f-26 {
    font-size: 26px !important;
  }
  
  .f-28 {
    font-size: 28px !important;
  }
  
  .f-30 {
    font-size: 30px !important;
  }
  
  .f-32 {
    font-size: 32px !important;
  }
  
  .f-34 {
    font-size: 34px !important;
  }
  
  .f-36 {
    font-size: 36px !important;
  }
  
  .f-38 {
    font-size: 38px !important;
  }
  
  .f-40 {
    font-size: 40px !important;
  }
  
  .f-42 {
    font-size: 42px !important;
  }
  
  .f-44 {
    font-size: 44px !important;
  }
  
  .f-46 {
    font-size: 46px !important;
  }
  
  .f-48 {
    font-size: 48px !important;
  }
  
  .f-50 {
    font-size: 50px !important;
  }
  
  .f-52 {
    font-size: 52px !important;
  }
  
  .f-54 {
    font-size: 54px !important;
  }
  
  .f-56 {
    font-size: 56px !important;
  }
  
  .f-58 {
    font-size: 58px !important;
  }
  
  .f-60 {
    font-size: 60px !important;
  }
  
  .f-62 {
    font-size: 62px !important;
  }
  
  .f-64 {
    font-size: 64px !important;
  }
  
  .f-66 {
    font-size: 66px !important;
  }
  
  .f-68 {
    font-size: 68px !important;
  }
  
  .f-70 {
    font-size: 70px !important;
  }
  
  .f-72 {
    font-size: 72px !important;
  }
  
  .f-74 {
    font-size: 74px !important;
  }
  
  .f-76 {
    font-size: 76px !important;
  }
  
  .f-78 {
    font-size: 78px !important;
  }
  
  .f-80 {
    font-size: 80px !important;
  }
  
  /*====== Font-size css ends ======*/
  /*====== Font-weight css starts ======*/
  .f-w-100 {
    font-weight: 100;
  }
  
  .f-w-300 {
    font-weight: 300;
  }
  
  .f-w-400 {
    font-weight: 400;
  }
  
  .f-w-600 {
    font-weight: 600;
  }
  
  .f-w-700 {
    font-weight: 700;
  }
  
  .f-w-900 {
    font-weight: 600;
  }
  
  /*====== Font-weight css ends ======*/